@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #c5ebd6; 
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37; 
    --cor5: #063d1e;

    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontedestaque: 'Bebas Neue';
    --fonteandroide: 'Android';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    margin: 0px;
    font-family: var(--fontepadrao);
}

header{
    min-height: 150px;
    background-image: linear-gradient(var(--cor3), var(--cor5));
    font-family: var(--fonteandroide);
    padding-top: 30px;
}
header>h1{
    text-align: center;
    font-family: var(--fontedestaque);
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.466);
    font-weight: normal;
}
header>p{
    text-align: center;
    font-family: var(--fontepadrao);
    color: white;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.466);
}

nav{
    padding: 10px;
    background-color: var(--cor5);
    box-shadow:  0px 7px 7px rgba(0, 0, 0, 0.2);

}
nav>a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    transition-duration: .3s;
    border-radius: 2px;
}
nav>a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    background-color: whitesmoke;
    min-width: none;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 2px 2px 3px 1px  rgba(0, 0, 0, 0.466);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0px;
    padding: 20px;
    
}
main p{
    text-align: justify;
    margin: 20px 0px;
    text-indent: 20px;
    line-height: 2em;
    font-size: 1.1em;
}
main a{
    background-color: var(--cor2);
    text-decoration: none;
    padding: 3px;
}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main a:after{
    content: '\00A0\1F517';
}

main a:hover{
    background-color: var(--cor4);
    color: var(--cor2);
}
main strong{
    font-family: var(--fonteandroide);
    color: var(--cor5);
}
main h2{
    color: var(--cor3);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}
main>article>aside>h3{
    background-color: var(--cor3);
    margin: -20px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
main>article>aside{
    background-color: var(--cor0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 3px 1px  rgba(0, 0, 0, 0.247);
}
main>article>aside>ul{
    list-style-position: inside ;
    columns: 2;
}

}
main article aside p {
    padding-top: 10px;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
}
#hstMA{
    margin-top: 0px;
    font-size: 2em;
    padding-top: 20px;
}
.titulos{
    font-family: var(--fonteandroide);
    color: var(--cor5);
}
#cev{
    text-decoration: none;
    color: white;
    color: var(--cor0);
}
#cev:hover{
    text-decoration: underline;
    color: var(--cor1);
}
.imag{
    width: 100%;
    min-width: none;
}
#pequeno{
    display: block;
    margin: auto;
    max-width: 350px;
}
h1{
    font-weight: normal;
}

h2{
    font-weight: normal;
}

